Options -Indexes
Options +FollowSymLinks

RewriteEngine On
RewriteBase /~2402331/explorer/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]